/*Img banerIniciojsx*/
.BanerIn{
    height: 580px;
}
.BanerIn .d-block{
    height: 580px;
    object-position:right;
    object-fit: cover;
}

.homes h3{  
    text-align: center;
    margin: 20px;
    font-weight: 600;
}
.homes{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 170px;
    font-family: Montserrat;
}
.boton-personalizado-home {    
    font-size: 0.7rem;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:40px;
    padding-right:40px;
    border-radius:35px;
    width: 200px;
    border:none; 
    }
    .boton-personalizado-home:hover{
        background-color: #ffdd40;
    }
    .boton-personalizado-home a:hover{
        color:#333333;
    }

    .boton-personalizado-home a{
        text-decoration: none;
        color:#333333;
        font-weight: 600;
    }
/*-----------------------------------------------------------------------------------*/
/*@media Screen*/
    @media screen and (max-width: 560px) {
        .homes{

            height: 100px;
        }
            .homes h3{  
                font-size: 1.3rem;
                margin: 10px;
            }
            .homes{
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 80px;
            }
            
      }
